<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="1_log.css">
</head>
<body>


<div class="tab_boxs">
    <input type="radio" name='log' id="tab1"checked>
    <label for="tab1" class="tab_1">log-in</label>
    <input type="radio"name='log' id="tab2">
    <label for="tab2"class="tab_2">메뉴 1</label>
    <input type="radio"name='log' id="tab3">
    <label for="tab3" class="tab_3">메뉴 2</label>

    <div class="log_in_box box1">

        <form id="log" action="/test"method="post">
            <input type="text"     name="nickname">
            <input type="password" name="password">
            <button type="submit">로그인</button>
        </form>


    </div>
    <div class="log_in_box box2">bb</div>
    <div class="log_in_box box3">cc</div>

</div>


</body>
</html>