<div class="header-sc">
    <ul>
        <li>
            <a href="#" class="">
                <span class="sub_txt">최근 본 작품</span>
            </a>
        </li>
        <li>
            <a href="#" class="">
                <span class="sub_txt">관심 작품</span>
            </a>
        </li>
        <li>
            <a href="#" class="">
                <span class="sub_txt">내 작품</span>
            </a>
        </li>
    </ul>
</div>