<div id="wrap">
    <header>

    </header>
    <nav>
        <div id="nav" class="container">
            <div class="nav_inner">
                <div class="nav__logo">
                    <a href="/home">WEB <em>소설</em></a>
                </div>
                <div class="nav__search">
                    <input type="text" class="search" value="작가명">
                    <button class="sch_btn" type="submit">보내기</button>
                </div>
                <div class="nav__manu">
                    <ul>
                        <li><a href="/all">ALL</a></li>
                        <li><a href="/board">리뷰 </a></li>
                        <!--                        <li><a href="#">리뷰 </a></li>-->
                        <!--                        <li><a href="#">나도 작가</a></li>-->
                        <li><a href="/my">MY</a></li>
                        <li><a href="#">공지 사항</a></li>
                    </ul>
                </div>
                <div class="nav__member">
                    <!--                    <a href="#">로그인</a>-->
                    <input type="checkbox" id="menuicon"/>
                    <label for="menuicon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </label>
                    <div class="sidebar">
                        <!--                    사이드바-->
                        <div class="sidebar_cont1">
                            <a href="#">로그인</a>

                        </div>
                        <div class="sidebar_cont2">ee</div>
                        <div class="sidebar_cont3">ee</div>
                        <div class="sidebar_cont4">ee</div>
                        <div class="sidebar_cont5">ee</div>




                    </div>
                </div>
            </div>

        </div>
    </nav>
</div>