<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/lay_out10.css"/>
    <link href="https://webfontworld.github.io/gmarket/GmarketSans.css" rel="stylesheet">
    <!--    폰트-->
</head>
<body>
<%-include('header.ejs')%>
    <main>

        <div class="contents container">
            <div class="cont0">

                <div class="sliderWrap">
                    <div class="slider s1">
                        <img src="img/01.png" alt="이미지 설명">
                        <span>이미지1</span>
                    </div>
                    <div class="slider s2">
                        <img src="img/02.png" alt="이미지 설명">
                        <!--                        이미지 크기는 1200/200px-->
                        <span>이미지2</span>
                    </div>
                    <div class="slider s3">
                        <img src="img/03.png" alt="이미지 설명">
                        <span>이미지3</span>
                    </div>
                </div>


            </div>
            <div class="cont1">
                <div class="wrap_controler">

                    <div class="multi_slide_wrap">
                        <ul class="multi_slides">
                            <li><a href="#"><img src="img/103.png" alt=""></a> </li>
                            <li><img src="img/102.png" alt=""></li>
                            <li><img src="img/101.png" alt=""></li>
                            <li><img src="img/104.png" alt=""></li>
                            <li><img src="img/105.png" alt=""></li>
                            <li><img src="img/106.png" alt=""></li>
                            <li><img src="img/107.png" alt=""></li>
                            <li><img src="img/108.png" alt=""></li>
                            <li><img src="img/109.png" alt=""></li>
                            <li><img src="img/300.png" alt=""></li>
                            <li><img src="img/300.png" alt=""></li>
                            <li><img src="img/300.png" alt=""></li>
                            <li><img src="img/300.png" alt=""></li>
                        </ul>
                    </div>

                    <p class="controls">
                        <img class="left" src="img/left.png">
                        <img class="right" src="img/right.png">
                        <span class="prev"></span>
                        <span class="next"></span>
                        <!--                    원모양-->
                    </p>

                </div>
                <!--                controler 절대값 과 overflow hidden 피하기 위해 하나더감쌈-->






            </div>
            <div class="cont2">
                <h4>베스트 탑100</h4>
                <ul>
                    <li>
                        <a href="lay_out6_novel_1.html">
                            <span><img src="img/110.png"><em>mouse </em></span>
                            <strong>이미지 제목</strong>

                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span><img src="img/102.png"><em>mouse</em></span>
                            <strong>이미지 제목</strong>

                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span><img src="img/103.png"><em>mouse</em></span>
                            <strong>이미지 제목</strong>

                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span><img src="img/104.png"><em>mouse</em></span>
                            <strong>이미지 제목</strong>

                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span><img src="img/105.png"><em>mouse</em></span>
                            <strong>이미지 제목</strong>

                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span><img src="img/106.png"><em>mouse</em></span>
                            <strong>이미지 제목</strong>

                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span><img src="img/107.png"><em>mouse</em></span>
                            <strong>이미지 제목</strong>

                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span><img src="img/108.png"><em>mouse</em></span>
                            <strong>이미지 제목</strong>

                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span><img src="img/109.png"><em>mouse</em></span>
                            <strong>이미지 제목</strong>

                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span><img src="img/100.png"><em>mouse</em></span>
                            <strong>이미지 제목</strong>

                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span><img src="img/100.png"><em>mouse</em></span>
                            <strong>이미지 제목</strong>

                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span><img src="img/100.png"><em>mouse</em></span>
                            <strong>이미지 제목</strong>

                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span><img src="img/100.png"><em>mouse</em></span>
                            <strong>이미지 제목</strong>

                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span><img src="img/100.png"><em>mouse</em></span>
                            <strong>이미지 제목</strong>

                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span><img src="img/100.png"><em>mouse</em></span>
                            <strong>이미지 제목</strong>

                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span><img src="img/100.png"><em>mouse</em></span>
                            <strong>이미지 제목</strong>

                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span><img src="img/100.png"><em>mouse</em></span>
                            <strong>이미지 제목</strong>

                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span><img src="img/100.png"><em>mouse</em></span>
                            <strong>이미지 제목</strong>

                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span><img src="img/100.png"><em>mouse</em></span>
                            <strong>이미지 제목</strong>

                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span><img src="img/100.png"><em>mouse</em></span>
                            <strong>이미지 제목</strong>

                        </a>
                    </li>




                </ul>
            </div>
            <div class="cont3"></div>
            <div class="cont4"></div>
        </div>

    </main>
    <footer>
        <div class="container"></div>
    </footer>
</div>

<script>
    window.onload = function(){
        let currnetIndex = 0;   //현재이미지
        const slider = document.querySelectorAll(".slider");  //모든 이미지 변ㅅ구에 저장
        slider.forEach(img => img.style.opacity = "0");   //모든 이미지 투명
        slider[0].style.opacity = "1"; //첫번쨰 이미지만 보이게

        setInterval(() => { //3초에 한번씩
            let nextIndex = (currnetIndex + 1) % slider.length;  // 1 2 0 1 2 무한
            slider[currnetIndex].style.opacity = "0";  //첫번쨰 이미지 사라짐
            slider[nextIndex].style.opacity = "1";   //두번쨰 이미지 나타남
            slider.forEach(img => img.style.transition = "all 0.5s"); //이미지 애니메이션 추가

            currnetIndex = nextIndex;
        }, 3000);


//스크롤이 내려가면 네비바가 고정되게
        window.addEventListener('scroll', function () {
            var nav = document.querySelector('nav');
            if (window.scrollY > 0) {
                nav.style.position = 'fixed';
                nav.style.top = '0';
                nav.style.width = '100%';
                // console.log('Scrolling!')
                // 스크롤 내리면 변할 모양

                nav.style.backgroundColor = 'rgb(255,255,255)';
                nav.style.borderBottom = '2px solid rgba(0, 0, 0, 0.3)';
                nav.style.borderTop = '2px solid rgba(0, 0, 0, 0.3)';
                nav.style.zIndex = '1000';
            } else {
                nav.style.position = 'static';

                // 다시 돌아오면 원상복구

                nav.style.backgroundColor = ''; // 기존 스타일로 복원하려면 비워둘 수 있습니다.
                // 필요에 따라 추가적인 스타일 속성을 여기에 추가할 수 있습니다.
            }
        });


        /////////////////cont1의 버튼식 슬라이드////////////////////

        var multiSlides = document.querySelector('.multi_slides') ;
        var multiSlide = document.querySelectorAll('.multi_slides li');
        var currentIdx = 0;
        var multiSlideCount = multiSlide.length;
        //슳라이드 값의 갯수
        var multiSlideWidth = 190;
        var multiSlideMargin = 12;

        var prevBtn = document.querySelector('.left') ;
        var nextBtn = document.querySelector('.right') ;

        multiSlides.style.width = (multiSlideWidth + multiSlideMargin)*multiSlideCount - multiSlideMargin+'px';
        // 너비 자동 계산 사진 크기와 마진 크기 모두고려해서 계산식 만들어야함( last chalid  의 마진없앤것도 생각)
        //   뒤에 px을 꼭 넣어줘야함

        function moveMutiSlide(num){

            multiSlides.style.left = -num * (multiSlideWidth+multiSlideMargin) + 'px';
            currentIdx = num;
        }

        nextBtn.addEventListener('click',function (){
            if(currentIdx < multiSlideCount-6){
                moveMutiSlide(currentIdx+1);
            }else{
                moveMutiSlide(0);
            }
        });

        prevBtn.addEventListener('click',function (){
            if(currentIdx > 0 ){
                moveMutiSlide(currentIdx-1);
            }else{
                moveMutiSlide(multiSlideCount -6 );
            }
        });




    }

</script>

</body>
</html>