*{
   margin: 0;
   padding: 0;
   text-decoration: none;
   list-style: none;
   color: black;
   font-family: 'GmarketSans';
   /*폰트*/
}
em{
   font-style: normal;
}
#wrap {
   width: 100%;

}
header{
   /*width: 100%;*/
   /*height: 200px;*/
   /*!*background-color: #cff8cd;*!*/
   /*background: linear-gradient(rgba(222, 29, 29, 0.88), rgba(255, 255, 255, 0.6)),url("img/main.jpg");*/
}
nav{
   /*width: 100%;*/
   /*height: 70px;*/
   /*background-color: #9f6bad;*/
   border-bottom:2px solid rgba(0,0,0,0.3);
   border-top: 2px solid rgba(0,0,0,0.3);

   /*position: fixed;*/
   /*top: 0;*/
   /*width: 100%;*/

}
/*네비타입*/
.nav_inner{
   width: 100%;
   height: 70px;
   display: flex;
   align-items: center;
   /*!*가운데로 글자 정렬*세로방향/*/
   justify-content: space-between;
   /*background-color: #b6f5b0;*/
   padding: 0 20px;
   /*패딩떔에 삐져나옴 패딩이 width 에 포함되서 40px이 삐져나옴*/
   box-sizing: border-box;
/*   이걸 해줘야 100% 안에서 패딩작업이 일어남*/


}
.nav__logo{
   width: 20%;
   font-size: 30px;
   font-weight: 700;
   /*background-color: #111;*/
}
.nav__logo em {
   font-size: 18px;
   font-weight: 400;
}
.nav__manu{
   width: 60%;
   text-align: center;
   /*background-color: #555;*/

}
.nav__manu ul #red{
   color: red;
   font-size: 15px;
   font-weight: bold;
}
.nav__manu ul li{
   display: inline;
}
.nav__manu ul li a {
   padding: 15px 25px;
   margin: 0 5px;
   border-radius: 10px;
   transition: background-color 0.6s;

}
.nav__manu ul li a:hover{
   background-color: rgba(215, 215, 215, 0.72);
   border-radius: 10px;
   /*transition: background-color 3s;*/
   /*이건 바로없어짐*/
}
.nav__member{
   width: 20%;
   /*background-color: #999;*/
   text-align: right;
}
.nav__member a{
   border:3px solid black;
   border-radius:50px ;
   padding: 10px 30px;
}


main{
   width: 100%;
   position: relative;
   height: 1000px;
   /*안에 내용 들어가면 height 없애면 됨*/
   /*height: auto;*/
   /*배경화면 만큼 높이가 나옴*/
   background: linear-gradient(rgba(255, 255, 255, 0.88), rgba(255, 255, 255, 0.6)),url("img/main.jpg");
   background-size: cover; /* 배경 이미지를 cover로 설정 */
   background-position: center; /* 배경 이미지를 중앙에 정렬 */
}


.container {
   width: 1200px;
   height: inherit;
   /*padding: 0 ;*/
   margin: 0 auto;
   background: rgba(252, 252, 252, 0.23);

}
.contents{
  /*height: 1500px;*/

   /*게시판 css*/
   /*게시판 css*/
   /*게시판 css*/
   /*게시판 css*/
   /*게시판 css*/
   /*게시판 css*/
   /*게시판 css*/
   /*게시판 css*/
   /*게시판 css*/
   /*게시판 css*/
   /*게시판 css*/
   /*게시판 css*/
   /*게시판 css*/
   /*게시판 css*/
   /*게시판 css*/



}

footer{
   width: 100%;
   height: 300px;
   background-color: #2d312d;
}
/*미디어 쿼리*/
@media (max-width: 1300px) {

}
@media (max-width: 768px) {

}
@media (max-width: 480px) {

}
/*slider*/
#slider {
   width: 100%;
   height: 300px;
   /*background-color: #d9d9d9;*/
}

.sliderWrap{
   position: relative;
}

/*.sliderWrap > div {*/
/*    display: none;*/
/*}*/

/*.sliderWrap > div:first-child {*/
/*    display: block;*/
/*}*/
.sliderWrap .slider {
   position: absolute;
   left: 0;
   top: 0;
}
.sliderWrap .slider {
   vertical-align: top;
   /*    이미지는 습관적으로 해야하는 옵션 */
}
.sliderWrap .slider span {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translateX(-50%) translateY(-50%);
   /*완벽히 가운데 오기 위해서*/
   background-color: rgb(0, 0, 0, 0.5);
   padding: 10px 20px;
   color: white;
}


/*!*자바스크립트용 css */
.sliderWrap > div {
   display: block;
}