<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/shStyles.css">
    <link href="https://webfontworld.github.io/gmarket/GmarketSans.css" rel="stylesheet">
    <!--    폰트-->
</head>
<body>
<%-include('header.ejs')%>


    <div class="header-sc">
        <ul>
            <li>
                <a href="#" class="">
                    <span class="sub_txt">최근 본 작품</span>
                </a>
            </li>
            <li>
                <a href="#" class="">
                    <span class="sub_txt">관심 작품</span>
                </a>
            </li>
            <li>
                <a href="#" class="">
                    <span class="sub_txt">내 작품</span>
                </a>
            </li>
        </ul>
    </div>























    <main>
        <div class="contents container">

            <div class="toptopnav">장르 검색 결과</div>




            <div class="accordion">
                <div class="accordion-item">
                    <div class="accordion-title">최신순</div>
                    <div class="accordion-content">
                        <a href="latest.html">인기순</a>
                    </div>
                </div>
            </div>

            <!-- 첫 번째 가로 줄 -->
            <div class="flex-box">
                <img src="img/102.png" alt="이미지 1">
                <p class="title_group">
                    <!--                    <span>test</span>-->
                <p><span>&#8226;</span> <span class="title">제목</span>
                </p>
                <p class="info_group">
                <p><span>&#8226;</span>  <span class="author">필명</span><br>
                <p><span>&#8226;</span>  <span class="genre">로맨스</span>
                </p>
                <p class="info_group">
                <p><span>&#8226;</span>  <span class="status">연재</span><br>

                </p>


            </div>
            <div class="flex-box">
                <img src="img/109.png" alt="이미지 2">
                <p><span>&#8226;</span> <span class="title">제목</span>
                </p>
                <p class="info_group">
                <p><span>&#8226;</span>  <span class="author">필명</span><br>
                <p><span>&#8226;</span>  <span class="genre">로맨스</span>
                </p>
                <p class="info_group">
                <p><span>&#8226;</span>  <span class="status">연재</span><br>

                </p>

            </div>

            <div class="flex-box">
                <img src="img/110.png" alt="이미지 3">

                <p><span>&#8226;</span> <span class="title">제목</span>
                </p>
                <p class="info_group">
                <p><span>&#8226;</span>  <span class="author">필명</span><br>
                <p><span>&#8226;</span>  <span class="genre">로맨스</span>
                </p>
                <p class="info_group">
                <p><span>&#8226;</span>  <span class="status">연재</span><br>

                </p>

            </div>
            <div class="flex-box">
                <img src="img/101.png" alt="이미지 4">

                <p><span>&#8226;</span> <span class="title">제목</span>
                </p>
                <p class="info_group">
                <p><span>&#8226;</span>  <span class="author">필명</span><br>
                <p><span>&#8226;</span>  <span class="genre">로맨스</span>
                </p>
                <p class="info_group">
                <p><span>&#8226;</span>  <span class="status">연재</span><br>

                </p>

            </div>
            <div class="flex-box">
                <img src="img/108.png" alt="이미지 5">

                <p><span>&#8226;</span> <span class="title">제목</span>
                </p>
                <p class="info_group">
                <p><span>&#8226;</span>  <span class="author">필명</span><br>
                <p><span>&#8226;</span>  <span class="genre">로맨스</span>
                </p>
                <p class="info_group">
                <p><span>&#8226;</span>  <span class="status">연재</span><br>

                </p>


            </div>
            <div class="flex-box">
                <img src="img/107.png" alt="이미지 6">

                <p><span>&#8226;</span> <span class="title">제목</span>
                </p>
                <p class="info_group">
                <p><span>&#8226;</span>  <span class="author">필명</span><br>
                <p><span>&#8226;</span>  <span class="genre">로맨스</span>
                </p>
                <p class="info_group">
                <p><span>&#8226;</span>  <span class="status">연재</span><br>

                </p>
            </div>
            <!-- 두 번째 가로 줄 -->
            <div class="flex-box">
                <img src="img/104.png" alt="이미지 7">

                <p><span>&#8226;</span> <span class="title">제목</span>
                </p>
                <p class="info_group">
                <p><span>&#8226;</span>  <span class="author">필명</span><br>
                <p><span>&#8226;</span>  <span class="genre">로맨스</span>
                </p>
                <p class="info_group">
                <p><span>&#8226;</span>  <span class="status">연재</span><br>

                </p>


            </div>
            <div class="flex-box">
                <img src="img/103.png" alt="이미지 8">

                <p><span>&#8226;</span> <span class="title">제목</span>
                </p>
                <p class="info_group">
                <p><span>&#8226;</span>  <span class="author">필명</span><br>
                <p><span>&#8226;</span>  <span class="genre">로맨스</span>
                </p>
                <p class="info_group">
                <p><span>&#8226;</span>  <span class="status">연재</span><br>

                </p>


            </div>
            <div class="flex-box">
                <img src="img/105.png" alt="이미지 9">


                <p><span>&#8226;</span> <span class="title">제목</span>
                </p>
                <p class="info_group">
                <p><span>&#8226;</span>  <span class="author">필명</span><br>
                <p><span>&#8226;</span>  <span class="genre">로맨스</span>
                </p>
                <p class="info_group">
                <p><span>&#8226;</span>  <span class="status">연재</span><br>

                </p>
            </div>
            <div class="flex-box">
                <img src="img/106.png" alt="이미지 10">

                <p><span>&#8226;</span> <span class="title">제목</span>
                </p>
                <p class="info_group">
                <p><span>&#8226;</span>  <span class="author">필명</span><br>
                <p><span>&#8226;</span>  <span class="genre">로맨스</span>
                </p>
                <p class="info_group">
                <p><span>&#8226;</span>  <span class="status">연재</span><br>

                </p>



            </div>
            <div class="flex-box">

                <img src="img/107.png" alt="이미지 7">

                <p><span>&#8226;</span> <span class="title">제목</span>
                </p>
                <p class="info_group">
                <p><span>&#8226;</span>  <span class="author">필명</span><br>
                <p><span>&#8226;</span>  <span class="genre">로맨스</span>
                </p>
                <p class="info_group">
                <p><span>&#8226;</span>  <span class="status">연재</span><br>

                </p>

            </div>
            <div class="flex-box">
                <img src="img/10001.png" alt="이미지 8">

                <p><span>&#8226;</span> <span class="title">제목</span>
                </p>
                <p class="info_group">
                <p><span>&#8226;</span>  <span class="author">필명</span><br>
                <p><span>&#8226;</span>  <span class="genre">로맨스</span>
                </p>
                <p class="info_group">
                <p><span>&#8226;</span>  <span class="status">연재</span><br>

                </p>




            </div>
            <div class="flex-box">
                <img src="img/1000.png" alt="이미지 9">

                <p><span>&#8226;</span> <span class="title">제목</span>
                </p>
                <p class="info_group">
                <p><span>&#8226;</span>  <span class="author">필명</span><br>
                <p><span>&#8226;</span>  <span class="genre">로맨스</span>
                </p>
                <p class="info_group">
                <p><span>&#8226;</span>  <span class="status">연재</span><br>

                </p>

            </div>
            <div class="flex-box">
                <img src="img/1002.png" alt="이미지 10">

                <p><span>&#8226;</span> <span class="title">제목</span>
                </p>
                <p class="info_group">
                <p><span>&#8226;</span>  <span class="author">필명</span><br>
                <p><span>&#8226;</span>  <span class="genre">로맨스</span>
                </p>
                <p class="info_group">
                <p><span>&#8226;</span>  <span class="status">연재</span><br>

                </p>


            </div>
            <div class="flex-box">
                <img src="img/1003.png" alt="이미지 8">

                <p><span>&#8226;</span> <span class="title">제목</span>
                </p>
                <p class="info_group">
                <p><span>&#8226;</span>  <span class="author">필명</span><br>
                <p><span>&#8226;</span>  <span class="genre">로맨스</span>
                </p>
                <p class="info_group">
                <p><span>&#8226;</span>  <span class="status">연재</span><br>

                </p>


            </div>
            <div class="flex-box">
                <img src="img/1004.png" alt="이미지 9">

                <p><span>&#8226;</span> <span class="title">제목</span>
                </p>
                <p class="info_group">
                <p><span>&#8226;</span>  <span class="author">필명</span><br>
                <p><span>&#8226;</span>  <span class="genre">로맨스</span>
                </p>
                <p class="info_group">
                <p><span>&#8226;</span>  <span class="status">연재</span><br>

                </p>


            </div>
            <div class="flex-box">
                <img src="img/1005.jpg" alt="이미지 10">

                <p><span>&#8226;</span> <span class="title">제목</span>
                </p>
                <p class="info_group">
                <p><span>&#8226;</span>  <span class="author">필명</span><br>
                <p><span>&#8226;</span>  <span class="genre">로맨스</span>
                </p>
                <p class="info_group">
                <p><span>&#8226;</span>  <span class="status">연재</span><br>

                </p>


                <!-- 이하 필요한 만큼 계속 반복 -->
            </div>
            <div class="flex-box">
                <img src="img/1006.jpg" alt="이미지 7">

                <p><span>&#8226;</span> <span class="title">제목</span>
                </p>
                <p class="info_group">
                <p><span>&#8226;</span>  <span class="author">필명</span><br>
                <p><span>&#8226;</span>  <span class="genre">로맨스</span>
                </p>
                <p class="info_group">
                <p><span>&#8226;</span>  <span class="status">연재</span><br>

                </p>


            </div>
            <div class="flex-box">
                <img src="img/1007.jpg" alt="이미지 8">

                <p><span>&#8226;</span> <span class="title">제목</span>
                </p>
                <p class="info_group">
                <p><span>&#8226;</span>  <span class="author">필명</span><br>
                <p><span>&#8226;</span>  <span class="genre">로맨스</span>
                </p>
                <p class="info_group">
                <p><span>&#8226;</span>  <span class="status">연재</span><br>

                </p>


            </div>
            <div class="flex-box">
                <img src="img/1008.png" alt="이미지 9">

                <p><span>&#8226;</span> <span class="title">제목</span>
                </p>
                <p class="info_group">
                <p><span>&#8226;</span>  <span class="author">필명</span><br>
                <p><span>&#8226;</span>  <span class="genre">로맨스</span>
                </p>
                <p class="info_group">
                <p><span>&#8226;</span>  <span class="status">연재</span><br>

                </p>


            </div>
            <div class="flex-box">
                <img src="img/1009.png" alt="이미지 10">

                <p><span>&#8226;</span> <span class="title">제목</span>
                </p>
                <p class="info_group">
                <p><span>&#8226;</span>  <span class="author">필명</span><br>
                <p><span>&#8226;</span>  <span class="genre">로맨스</span>
                </p>
                <p class="info_group">
                <p><span>&#8226;</span>  <span class="status">연재</span><br>

                </p>



            </div>
            <div class="flex-box">
                <img src="img/1100.png" alt="이미지 8">

                <p><span>&#8226;</span> <span class="title">제목</span>
                </p>
                <p class="info_group">
                <p><span>&#8226;</span>  <span class="author">필명</span><br>
                <p><span>&#8226;</span>  <span class="genre">로맨스</span>
                </p>
                <p class="info_group">
                <p><span>&#8226;</span>  <span class="status">연재</span><br>

                </p>


            </div>
            <div class="flex-box">
                <img src="img/1101.jpg" alt="이미지 9">

                <p><span>&#8226;</span> <span class="title">제목</span>
                </p>
                <p class="info_group">
                <p><span>&#8226;</span>  <span class="author">필명</span><br>
                <p><span>&#8226;</span>  <span class="genre">로맨스</span>
                </p>
                <p class="info_group">
                <p><span>&#8226;</span>  <span class="status">연재</span><br>

                </p>


            </div>



            <div class="flex-box">
                <img src="img/1102.jpg" alt="이미지 9">

                <p><span>&#8226;</span> <span class="title">제목</span></p>

                <p class="info_group">
                    <span>&#8226;</span> <span class="author">필명</span><br>
                    <span>&#8226;</span> <span class="genre">로맨스</span>
                </p>

                <p class="info_group">
                    <span>&#8226;</span> <span class="status">연재</span><br>

                </p>
            </div>






            <!--            <div class="flex-box">-->
            <!--                <div class="info_area">-->

            <!--                    <p class="title_group">-->

            <!--                        <span class="title">파란의 상속녀</span>-->
            <!--                    </p>-->
            <!--                    <p class="info_group">-->
            <!--                        <span class="author">필명</span>-->
            <!--                        <span class="genre">로맨스</span>-->
            <!--                    </p>-->
            <!--                    <p class="info_group">-->
            <!--                        <span class="status">시리즈에디션</span>-->
            <!--                        <span class="novels">시리즈에디션</span>-->
            <!--                    </p>-->
            <!--                </div>-->
            <!--                <img src="img/1102.jpg" alt="이미지 10">-->
            <!--            </div>-->






















            <div class="default_paging NE=a:nov">


                <a href="" class="NPI=a:page">1</a>
                <strong>2<span class="blind">현재 페이지</span></strong>
                <a href="" class="NPI=a:page">3</a>
                <a href="" class="NPI=a:page">4</a>
                <a href="" class="NPI=a:page">5</a>
            </div>


        </div>
    </main>

</div>


<!--</main>-->

</div>


<script>
    window.onload = function () {

//스크롤이 내려가면 네비바가 고정되게
        window.addEventListener('scroll', function () {
            var nav = document.querySelector('nav');
            if (window.scrollY > 0) {
                nav.style.position = 'fixed';
                nav.style.top = '0';
                nav.style.width = '100%';
                // console.log('Scrolling!')
                // 스크롤 내리면 변할 모양

                nav.style.backgroundColor = 'rgb(255,255,255)';
                nav.style.borderBottom = '2px solid rgba(0, 0, 0, 0.3)';
                nav.style.borderTop = '2px solid rgba(0, 0, 0, 0.3)';
                nav.style.zIndex = '1000';
            } else {
                nav.style.position = 'static';

                // 다시 돌아오면 원상복구

                nav.style.backgroundColor = ''; // 기존 스타일로 복원하려면 비워둘 수 있습니다.
                // 필요에 따라 추가적인 스타일 속성을 여기에 추가할 수 있습니다.
            }
        });
    }



    document.addEventListener('DOMContentLoaded', function () {
        const accordionItems = document.querySelectorAll('.accordion-item');

        accordionItems.forEach(function (item) {
            const title = item.querySelector('.accordion-title');
            const content = item.querySelector('.accordion-content');

            title.addEventListener('click', function () {
                const isActive = content.style.display === 'block';
                accordionItems.forEach(function (el) {
                    el.querySelector('.accordion-content').style.display = 'none';
                });
                content.style.display = isActive ? 'none' : 'block';
            });
        });
    });
















    document.addEventListener("DOMContentLoaded", function() {
        var accordionTitles = document.querySelectorAll('.accordion-title');

        accordionTitles.forEach(function(title) {
            title.addEventListener('click', function() {
                var content = title.nextElementSibling;
                content.classList.toggle('show');
            });
        });
    });





    document.addEventListener("DOMContentLoaded", function() {
        var accordionTitles = document.querySelectorAll('.accordion-title');

        accordionTitles.forEach(function(title) {
            title.addEventListener('click', function() {
                var content = title.nextElementSibling;
                var allContents = document.querySelectorAll('.accordion-content');
                allContents.forEach(function(item) {
                    item.style.display = 'none';
                });
                content.style.display = 'block';
            });
        });
    });





    document.addEventListener("DOMContentLoaded", function() {
        var accordionTitles = document.querySelectorAll('.accordion-title');

        accordionTitles.forEach(function(title) {
            title.addEventListener('click', function() {
                var content = title.nextElementSibling;
                var allContents = document.querySelectorAll('.accordion-content');
                allContents.forEach(function(item) {
                    item.style.display = 'none';
                });
                content.style.display = 'block';
                if (content.querySelector('a')) {
                    content.querySelector('a').addEventListener('click', function(e) {
                        e.stopPropagation(); // 인기순 링크 클릭 시 이벤트 전파 중단
                    });
                }
            });
        });
    });






</script>
<footer>
    <div className="container"></div>
</footer>

</body>
</html>